body {
    margin: 0;
}

img {
    max-width: 100%;
}

.page-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'banner banner banner'
        'content2 content2 content2'
        'content3 content3 content3'
        'content4 content4 content4'
        'footer footer footer';
    justify-content: center;
    align-items: center;
}

.content-nav {
    margin-left: 250px;
}

.flex-header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(74, 33, 114, 0.86);
    position: fixed;
    top: 0px;
    font-family: 'Nunito', sans-serif;
    padding: 0;
}

.flex-header img {
    width: 298.6px;
    margin-top: 30px;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 15px;
    font-weight: lighter;
}

.nav-bar li {
    list-style-type: none;
    line-height: 1em;
}

.nav-bar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 90px;
    text-align: center;

}

.nav-bar a:hover {
    color: rgb(189, 143, 197);
    text-decoration: none;
}

.nav>ul>li>a {
    padding-bottom: 33px;
}

.active {
    color: blueviolet;
}

.social {
    /* Estilos de posicionamiento*/
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: rgb(12, 207, 54);
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.flex-banner {
    display: flex;
    grid-area: banner;
    justify-content: center;
    align-items: center;

}

.grid-banner {
    justify-content: center;
    align-items: center;
    background-image: url(../images/Logos/imabck.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 169px;
    padding-bottom: 82px;
    background-color: #fff;
    font-size: 100%;
    vertical-align: baseline;
    width: 100%;
}

.grid-banner h1 {
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    color: white;
}

/*.ola {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xMjgwIDMuNEMxMDUwLjU5IDE4IDEwMTkuNCA4NC44OSA3MzQuNDIgODQuODljLTMyMCAwLTMyMC04NC4zLTY0MC04NC4zQzU5LjQuNTkgMjguMiAxLjYgMCAzLjRWMTQwaDEyODB6IiBmaWxsLW9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTAgMjQuMzFjNDMuNDYtNS42OSA5NC41Ni05LjI1IDE1OC40Mi05LjI1IDMyMCAwIDMyMCA4OS4yNCA2NDAgODkuMjQgMjU2LjEzIDAgMzA3LjI4LTU3LjE2IDQ4MS41OC04MFYxNDBIMHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMTI4MCA1MS43NmMtMjAxIDEyLjQ5LTI0Mi40MyA1My40LTUxMy41OCA1My40LTMyMCAwLTMyMC01Ny02NDAtNTctNDguODUuMDEtOTAuMjEgMS4zNS0xMjYuNDIgMy42VjE0MGgxMjgweiIvPjwvZz48L3N2Zz4=);
    background-size: 100% 100px;
    bottom: 0;
    height: 100px;
    z-index: 1;
}*/


.flex-content2 {
    display: flex;
    grid-area: content2;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 4em;

}

.flex-cabezote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    font-size: 19px;
    color: #666;
    margin-top: 3em;
    justify-content: space-between;


}

.flex-photo1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5%;
    padding-top: 0px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    width: 80%;

}

.flex-photo1 img {

    width: 210px;
}

.flex-content3 {
    display: flex;
    grid-area: content3;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 10em;
    width: 80%;
}

.flex-content3 p {
    margin-top: 5em;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.7em;
    color: #666;


}

.flex-content3 a {
    margin-top: 5em;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.7em;
    font-weight: 400;
    text-decoration: none;
    color: #2ea3f2;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.flex-clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 70px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 5em;

}

.flex-clients img {
    width: 100%;
    object-fit: cover;
}

.flex-content4 {
    margin-top: 5em;
    display: flex;
    grid-area: content4;
    flex-direction: column;
    background-image: url(../images/background-color.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flex-content4 h1 {
    text-align: center;
    margin-top: 3em;
    color: #333;
    box-sizing: border-box;
    padding-bottom: 16px;
    outline: none;
    font-size: 25px;

}

.formulario {

    margin-left: 9%;
    margin-right: 11%;
}

.formulario input,
textarea {
    display: flex;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    color: #666;
    text-align: left;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-color: #c4c4c4;
    box-shadow: 0px 2px 18px -11px rgba(0, 0, 0, 0.3);
    border-width: 0;
    border-style: solid;
    border-color: #333;
    background-color: rgba(255, 255, 255, 0.38);
    width: 100%;
    padding: 16px;
}

.button-send button {
    float: right;
    margin-right: 5em;
    color: #ffffff;
    border-width: 0px;
    border-radius: 20px;
    background-image: linear-gradient(180deg, #4e0c80 0%, #0e0333 100%);
    font-family: inherit;
    cursor: pointer;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    font-size: 20px;
    line-height: 1.7em;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.flex-footer {
    display: flex;
    grid-area: footer;
    background-color: #0b164b;
    padding-top: 83px;
    padding-bottom: 27px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    line-height: 16px;
}

.flex-footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: lighter;
}

.flex-footer li,
p {

    margin-bottom: 10px;
    list-style-type: disc;
}


.footer-img {
    display: flex;
    flex-direction: column;
    width: 130px;
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    align-self: flex-start;

}